[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox
[submodule "src/librealsense"]
	path = src/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "src/rtcm_msgs"]
	path = src/rtcm_msgs
	url = https://github.com/tilk/rtcm_msgs
[submodule "src/protobot_description/urdf/realsense_ros_gazebo"]
	path = src/realsense_ros_gazebo
	url = https://github.com/nilseuropa/realsense_ros_gazebo.git
