[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox
[submodule "src/librealsense"]
	path = src/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "src/rtcm_msgs"]
	path = src/rtcm_msgs
	url = https://github.com/tilk/rtcm_msgs
[submodule "src/protobot_description/urdf/realsense_ros_gazebo"]
	path = src/realsense_ros_gazebo
	url = https://github.com/nilseuropa/realsense_ros_gazebo.git
[submodule "src/SCI_protobot"]
	path = src/SCI_protobot
	url = https://github.com/RoboticSpaceExploration/SCI_protobot.git
[submodule "src/ARM_protobot"]
	path = src/ARM_protobot
	url = https://github.com/RoboticSpaceExploration/ARM_protobot.git
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/RobotWebTools/web_video_server
[submodule "src/async_web_server_cpp"]
	path = src/async_web_server_cpp
	url = https://github.com/fkie/async_web_server_cpp
