<launch>	
	<include file="$(find protobot_description)/launch/view_model.launch"/>
	<include file="$(find protobot_localization)/launch/protobot_localization.launch"/>
	<include file="$(find protobot_teleop)/launch/protobot_teleop.launch"/>
	<include file="$(find protobot_mapping)/launch/PoseWithCovariance.launch"/>
</launch>
