<launch>
	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
	
    	<!-- If camera is used -->
    	<arg name="rgb_topic"         value="/d435/color/image_raw" />
    	<arg name="camera_info_topic" value="/d435/color/camera_info" />
    	<arg name="depth_topic"       value="/d435/depth/image_raw" />
    	<arg name="approx_rgbd_sync"  value="false" />
    	<arg name="database_path"     value="" />
	
	<arg name="visual_odometry" value="false"/>
        <arg name="odom_topic" value="/camera/odom/sample"/>
        <arg name="rtabmapviz" value="false"/>
        		
	</include>
	
</launch>
