<launch>
    <!-- robot_description is used by nodes that publish to joint_states. -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find protobot_description)/urdf/rover_simple.xacro"/>
    <!-- Read joint positions from joint_states, then publish the vehicle's
         state to tf. -->
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
    <node pkg="tf" type="static_transform_publisher" name="world_link_broadcaster" args="0 0 0 0 0 0 1 world map 5" />
    
    <node pkg="tf" type="static_transform_publisher" name="base_to_cam" args=" 0 0 0.5 0 1.57 0 base_link cam_link 100" />
    
    <node pkg="protobot_description" type="odom_to_tf_node" name="odom_to_tf_node"/>
</launch>
