<launch>

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find protobot_description)/urdf/protobot.urdf.xacro'"/>

<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"></node>

<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"></node>


</launch>
