<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<!-- <arg name ="world_name" value="$(find protobot_gazebo)/gazebo/testing_site"/> -->
		<arg name="gui" value="false"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find protobot_description)/urdf/protobot.urdf.xacro -urdf -z 1 -model protobot"/>

</launch>
