<launch>
        <remap from="/ublox_gps/fix" to="/gps/fix"/>
	
	<include file="$(find protobot_hardware)/launch/rs_d435_camera_with_model.launch"/>
	<include file="$(find protobot_hardware)/launch/ublox_zed-f9p.launch"/>
	<!--
	<remap from="/camera/gyro/sample" to=""/>
	<remap from="/camera/accel/sample" to=""/>
	-->
</launch>
