<launch>
   <remap from="map" to="/rtabmap/grid_map"/>
	
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find protobot_planner)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find protobot_planner)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find protobot_planner)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find protobot_planner)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find protobot_planner)/config/base_local_planner_params.yaml" command="load" />
    <remap from="/cmd_vel" to="/protobot_velocity_controller/cmd_vel"/>
 </node>

</launch> 
